<div class="song_title">
  <p>Track: <%= @song_name %></p>
</div>

<div class="container-cards-medium">
  <div class="card-medium">
    <h2> Popularity: </h2>
    <p><%= @song_popularity %>/100</p>
  </div>
  <div class="card-medium">
      <h2> Duration: </h2>
      <p><%= @song_length.to_f %>min</p>
  </div>
</div>

<div class= "card-big">
  <div>
    <h2>Audio Features</h2>
  </div>
  <div class="value-wrap scrolling-wrapper-flexbox">
    <div class= "value">
      <h2> <i class="fa-regular fa-face-smile"></i> </h2>
      <p> Positiveness:</p>
      <h3><%= @song_valence%></h3>
    </div>

    <div class="value">
      <h2> <i class="fa-solid fa-person-walking"></i> </h2>
      <p> Danceability: </p>
      <h3><%= @song_danceability %></h3>
    </div>

    <div class="value">
      <h2><i class="fa-solid fa-guitar"></i></h2>
      <p> Acoustic: </p>
      <h3><%= @song_acousticness %></h3>
    </div>

    <div class="value">
      <h2><i class="fa-regular fa-comment"></i></h2>
      <p> Instrumental: </p>
      <h3><%= @song_instrumentalness %></h3>
    </div>

    <div class="value">
      <h2><i class="fa-solid fa-volume-high"></i></h2>
      <p> Loudness: </p>
      <h3><%= @song_loudness %> dB</h3>
    </div>
  </div>
</div>
