<%= render "shared/navbar" %>
<%# ---------div for image--------- %>
  <div class= "show-image">
    <img class= "img-circle-large" src="<%= @album_image %>" alt="">
  </div>

<%# ---------div for buttons--------- %>
<div data-controller="switch-button">
  <%= render "shared/btn_sorting" %>

  <%# ------Render INFO or STATS--------- %>
  <div data-switch-button-target="info">
    <%= render "song-info" %>
  </div>
  <div data-switch-button-target="stats" style="display: none;">
    <%= render "song-stats" %>
  </div>
</div>
