<h1><%= @artist_name %></h1>

  <div class= "show-image">
    <%= image_tag @artist_image_url, alt: @artist_name,  class: "img-circle-large" %>
  </div>
  <%# ---------div for buttons--------- %>
<div data-controller="switch-button">
  <%= render "shared/bar_2btn_sorting" %>
  <%# ------Render INFO or STATS--------- %>
  <div data-switch-button-target="info">
    <%= render "artist-info" %>
  </div>
  <div data-switch-button-target="stats" style="display: none;">
    <%= render "artist-stats" %>
  </div>
</div>
