<div style="max-height: 100%;">
  <%= render "shared/navbar" %>

  <div class="margin-bottom-10 margin-top-20">
    <div class= "show-image">
      <%= image_tag @artist_image_url, alt: @artist_name,  class: "img-square-large", style:"width: 250px;" %>
    </div>

    <div class="divs-center margin-top-10">
      <button class="spotify-button">
        <a href="https://open.spotify.com/artist/<%= @artist_id %>", style="text-decoration: none; color: #0E0000;">
          <%= image_tag 'Spotify_Icon_RGB_Green.png', alt: 'Spotify Icon', class:"spotify-icon" %><span> Open on Spotify</span>
        </a>
      </button>
    </div>
  </div>

  <div style="border-top: 3px solid #FFB9FC;">
    <div class="song_title margin-top-20" style="margin-bottom: 10px;">
      <h2 style="font-size: 32px;"><%= @artist_name %></h2>
    </div>

    <div class="container-cards-medium">
      <div class="card-medium" style="background-color: transparent; border: none; margin: 10px 5px;">
        <h3 style="color: #BDBDBD; font-size: 20px;"> Popularity </h3>
        <p style="color: #BDBDBD; font-size: 18px;"><%= @artist_popularity %>/100</p>
      </div>
      <div class="card-medium" style="background-color: transparent; border: none; margin: 10px 5px;">
          <h3 style="color: #BDBDBD; font-size: 20px;"> Followers </h3>
          <p style="color: #BDBDBD; font-size: 18px;"><%= @artist_followers %></p>
      </div>
    </div>

    <div class= "card-big" style="background-color: transparent; border: none; margin-top: 5px;">
      <div>
        <h2 style="color: #FFB9FC; font-size: 24px; font-weight: 600;">Top Tracks</h2>
      </div>

      <%# REPLACE WITH PLAYLIST LAYOUT FOR TOP TRACKS%>

      <div class="container-matches-26">
      <%# <-- The actual list goes here --> %>
      <%# <-- # (?) - Title - icon-Time. Followed by a small barely noticable division--> %>
      <div id="container-matches-26-header">
        <span>Title</span>
        <i class="fa-regular fa-clock"></i>
      </div>
      <%# <-- Listed items. Little Square image. Name/author beside it, same size. Enough space between all--> %>
      <% @top_tracks.tracks.each do |track| %>
        <div class="container-matches-26-item">
          <div class="container-matches-26-item-image">
            <%= image_tag(track.album.images.first["url"], alt: track.name) %>
          </div>
          <div class="container-matches-26-item-text">
            <h4><%= track.name %></h4>
            <p><%= track.artists.first.name%></p>
          </div>
          <div class="container-matches-26-item-time">
            <% minutes, seconds = (track.duration_ms / 1000).divmod(60) %>
            <%= "%d:%02d" % [minutes, seconds] %> <!-- This is the time -->
          </div>
        </div>
      <% end %>
    </div>
