
<h1><%= @artist_name %></h1>

<div class = "image-circle-large">
    <%= image_tag @artist_image_url, alt: @artist_name %>
</div>

<div class = "card-medium">
  <p>Popularity: <%= @artist_popularity %></p>
</div>

<div class="card-medium">
  <p>Followers: <%= @artist_followers %></p>
</div>


<h2>Top Tracks</h2>

<div class="scrolling-wrapper-flexbox">
  <% @top_tracks.each do |track| %>
  <div class= "card-small">
    <div class= card-small-image><%= image_tag(track[:image], alt: track[:name], class: "card-small-image") %></div>
    <div class= card-small-text><p><%= track[:name] %></p></div>
  </div>
  <% end %>
</div>

<h1>helllo</h1>

<h1>helllo</h1>
<%# <%= link_to 'Back', artists_path %>
