<%= render "shared/navbar" %>

  <div class="chatroom-list-container">
    <% @chatrooms.each do |chatroom| %>
      <div class="chatroom-list">
        <div class="buddy-profile-photo">
          <%= image_tag User.find(chatroom.buddy_id).image_url, class:"img-circle-chat" if User.find(chatroom.buddy_id).image_url.present?%>
          <%= image_tag 'https://placekitten.com/200/200', alt: @user_name, class: "img-circle-chat" if  !User.find(chatroom.buddy_id).image_url.present? %>
        </div>
        <div class="chatroom-name">
          <%= link_to "#{chatroom.name}", user_chatroom_path(@user.id, chatroom.id)%>
        </div>
      </div>
    <% end %>
  </div>

  <div class= "new-chat">    
    <%= link_to new_user_chatroom_path do %>
    <i class="fa-regular fa-message"></i>
    <% end %>
  </div>


