<%= render "shared/navbar" %>
<div class="container-chatroom" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class= "chat-name">
  <h1>#<%= @chatroom.name %></h1>
  </div>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
</div>

  <div class="sticky-form">
    <%= simple_form_for [@user, @chatroom, @message] do |f| %>
      <%= f.input :content, placeholder: "Type your Message" %>
      <%= f.submit "Send", class: "btn-medium-pink" %>
    <% end %>
  </div>
