<div class="divs-column">
  <div>
    <div class= "show-image" style="position:relative">
      <%= image_tag @user.image_url, alt: @user_name,  class: "img-circle-medium"  if @user.image_url.present?%>
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do%>
            <i class="fa-solid fa-right-from-bracket fa-xl" id="logout-icon"></i>
          <% end %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %>
    </div>
  </div>
  <div class="divs-center">
    <div class="icon-profile"><%= image_tag "compatibility_icon_pink.svg" %></div>
    <div class="icon-profile"><i class="fa-solid fa-plus"></i></div>
  </div>
</div>

<h1><%= @user.display_name %></h1>

<%= render "shared/bar_2btn_sorting" %>

<h2>Top Tracks</h2>

<div class="scrolling-wrapper-flexbox">
  <% if @top_tracks && @top_tracks.any? %>
    <% @top_tracks.each do |track| %>
    <%# We call it with @track_id[1]  TODO: will do albums first%>
      <%= link_to track_path(id: track.uri.match(/spotify:track:(.*)/)[1]), style: "text-decoration: none;" do%>
        <div class= "card-small">
          <div class= card-small-image><%= image_tag(track.album.images[0]['url'], alt: track.name, class: "card-small-image") %></div>
          <div class= card-small-text><p><%= track.name %></p></div>
        </div>
      <% end %>
    <% end %>
  <% else %>
  <p>There are no top tracks</p>
  <% end %>
</div>

<h2>Top Artists</h2>

<div class="scrolling-wrapper-flexbox">
    <% @top_artists.each do |artist| %>
      <%# We call it with @artist_id[1]%>
      <%= link_to artist_path(id: artist.uri.match(/spotify:artist:(.*)/)[1]) do%>
        <div class= "card-small">
          <div class= card-small-image><%= image_tag(artist.images[0]['url'], alt: artist.name, class: "card-small-image") %></div>
          <div class= card-small-text><p><%= artist.name %></p></div>
        </div>
      <% end %>
    <% end %>
</div>
<p>
  <strong>Display Name:</strong>
  <%= @user.display_name %>
</p>

<p>
  <strong>Spotify Auth:</strong>
  <%= @user.spotify_auth %>
</p>

<p>
  <strong>Spotify ID:</strong>
  <%= @user.spotify_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @user.image_url if @user.image_url.present? %>
</p>



<p>
  <strong>Spotify URL:</strong>
  <%= link_to @user.spotify_url, @user.spotify_url if @user.spotify_url.present? %>
</p></h1>
