  <div class= "show-image">
    <%= image_tag @user.image_url, alt: @user_name,  class: "img-circle-medium"  if @user.image_url.present?%>
  </div>

<h1><%= @user.display_name %></h1>

<%= render "shared/bar_2btn_sorting" %>

<h2>Top Tracks</h2>

<div class="scrolling-wrapper-flexbox">
  <% if @top_tracks && @top_tracks.any? %>
    <% @top_tracks.each do |track| %>
    <div class= "card-small">
      <div class= card-small-image><%= image_tag(track.album.images[0]['url'], alt: track.name, class: "card-small-image") %></div>
      <div class= card-small-text><p><%= track.name %></p></div>
    </div>
    <% end %>
  <% else %>
  <p>There are no top tracks</p>
  <% end %>
</div>

<h2>Top Artists</h2>

<div class="scrolling-wrapper-flexbox">
    <% @top_artists.each do |artist| %>
      <div class= "card-small">
        <div class= card-small-image><%= image_tag(artist.images[0]['url'], alt: artist.name, class: "card-small-image") %></div>
        <div class= card-small-text><p><%= artist.name %></p></div>
      </div>
      <% end %>
</div>
<p>
  <strong>Display Name:</strong>
  <%= @user.display_name %>
</p>

<p>
  <strong>Spotify Auth:</strong>
  <%= @user.spotify_auth %>
</p>

<p>
  <strong>Spotify ID:</strong>
  <%= @user.spotify_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @user.image_url if @user.image_url.present? %>
</p>



<p>
  <strong>Spotify URL:</strong>
  <%= link_to @user.spotify_url, @user.spotify_url if @user.spotify_url.present? %>
</p></h1>
