<%= render "shared/navbar" %>

<div class="divs-column" style="border-top: 1.5px solid #FDEBFC;">
  <div class="margin-top-20">
    <div class= "show-image margin-top-20" style="position:relative">
      <%= image_tag @user.image_url, alt: @user_name,  class: "img-circle-medium"  if @user.image_url.present?%>
      <%= image_tag 'https://placekitten.com/200/200', alt: @user_name, class: "img-circle-medium" if  !@user.image_url.present? %>

        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do%>
            <i class="fa-solid fa-right-from-bracket fa-xl" id="logout-icon"></i>
          <% end %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %></div>
      </div>
    </div>

  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do%>
      <i class="fa-solid fa-right-from-bracket fa-xl" id="logout-icon"></i>
    <% end %>
    <%= link_to user_matches_path(@user), style:"text-align: center; text-decoration: none; margin: 0 10px;" do %>
        <%= image_tag 'compatibility_icon_pink.png', alt: 'Compatibility Icon', class: "icon-profile", id: "match-icon" %>
    <% end %>

<%# follow +/- %>
    <div class="icon-profile">

      <% if current_user.following_users.include?(@user) %>
        <button style="background-color: transparent; width: 50px; height: 50px; border: none; border-radius: 10px">
          <%= link_to user_follow_path(@user, params[:id]), data: {turbo_method: :delete} do %>
          <i class="fa-solid fa-user-minus" style="color: #FFB9FC; font-size: 20px;"></i>
          <% end %>
        </button>
      <% else %>
        <%= link_to user_follows_path(@user), method: :post, data: { 'turbo-method' => :post } do %>
          <i class="fa-solid fa-user-plus" style="color: #FFB9FC; font-size: 20px;"></i>
        <% end %>
      <% end %>
    </div>

  <% else %>
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  <% end %>
</div>

<%# ---------Match - @User - Follow-btn --------- %>
  <div class="divs-center margin-top-10">
    <div><a href="https://open.spotify.com/user/<%= @user.spotify_id %>" class="link-spotify-user">@<%= @user.display_name %></a></div>
  </div>
</div>
<%# ---------div for follow/ing--------- %>

<div class="show-sorting">
  <div>
    <%= button_to "#{@user.followed_by.count} Followers", user_follows_path(@user), class: "btn-flat-long", style: "text-decoration: none;", method: :get %>
  </div>
  <div>
    <%= button_to "#{@user.following_users.count} Following", user_follows_path(@user), class: "btn-flat-long", style: "text-decoration: none;", method: :get %>
  </div>
</div>

<div>
  <div style="margin-bottom: 70px; padding: 10px 0px;">
    <h2 style="color: #FFB9FC; font-weight: 500; margin-bottom: 10px; margin-left: 10px;">Top Tracks</h2>

    <div class="scrolling-wrapper-flexbox" style="height: 100%; padding-bottom: 10px; overflow-y: hidden;">
      <% if @top_tracks && @top_tracks.any? %>
        <% @top_tracks.each do |track| %>
        <%# We call it with @track_id[1]  TODO: will do albums first%>
          <%= link_to track_path(id: track.uri.match(/spotify:track:(.*)/)[1]), style: "text-decoration: none;" do%>
            <div class="card-small" style="width: 164px; height: 120%;">
              <div class="card-small-image" style="width: 164px; height: 164px;"><%= image_tag(track.album.images[0]['url'], alt: track.name, class: "card-small-image", style:"width: 164px; height: 164px;") %></div>
              <div class="card-small-text" style="height: 18px;"><p><%= track.name %></p></div>
              <div class="card-small-text-small"><p><%= track.album.artists.map { |artist| artist.name }.join(', ') %></p></div>
            </div>
          <% end %>
        <% end %>
      <% else %>
      <p>There are no top tracks</p>
      <% end %>
    </div>

    <h2 class="margin-top-20" style="color: #FFB9FC; font-weight: 500; margin-bottom: 10px; margin-left: 10px;">Top Artists</h2>

    <div class="scrolling-wrapper-flexbox" style="height: 100%; padding-bottom: 10px; overflow-y: hidden;">
        <% @top_artists.each do |artist| %>
          <%# We call it with @artist_id[1]%>
          <%= link_to artist_path(id: artist.uri.match(/spotify:artist:(.*)/)[1]), style: "text-decoration: none;" do%>
            <div class= "card-small" style="width: 164px; height: 120%;">
              <div class= card-small-image style="width: 164px; height: 164px;"><%= image_tag(artist.images[0]['url'], alt: artist.name, class: "card-small-image", style:"width: 164px; height: 164px;") %></div>
              <div class= card-small-text style="height: 18px;"><p><%= artist.name %></p></div>
              <div class="card-small-text-small"></div>
            </div>
          <% end %>
        <% end %>
    </div>

    <h2 class="margin-top-20" style="color: #FFB9FC; font-weight: 500; margin-bottom: 10px; margin-left: 10px;">Saved songs</h2>

    <div class="scrolling-wrapper-flexbox" style="height: 100%; padding-bottom: 10px; overflow-y: hidden;">
      <% @saved_tracks.each do |track| %>
        <%= link_to album_path(id: track.album.uri.match(/spotify:album:(.*)/)[1]), style: "text-decoration: none;" do%>
          <div class="card-small" style="width: 164px; height: 120%;">
            <% album = track.album %>
            <% if album.images.present? && album.images[0].present? %>
              <div class="card-small-image" style="width: 164px; height: 164px;">
                <%= image_tag(album.images[0]['url'], alt: track.name, class: "card-small-image", style:"width: 164px; height: 164px;") %>
              </div>
            <% end %>
            <div class="card-small-text" style="height: 18px;"><p><%= track.name %></p></div>
            <div class= card-small-text-small><p><%= track.album.artists.map { |artist| artist.name }.join(', ') %></p></div>
            <div class="card-small-text-small"></div>
          </div>
        <% end %>
      <% end %>
    </div>

    <h2 class="margin-top-20" style="color: #FFB9FC; font-weight: 500; margin-bottom: 10px; margin-left: 10px;"><%= @user.display_name.capitalize %>'s Playlists</h2>

    <div class="scrolling-wrapper-flexbox" style="height: 100%; padding-bottom: 10px; overflow-y: hidden;">
        <% @playlists.each do |playlist| %>
          <%# We call it with @artist_id[1]%>
          <%= link_to "https://open.spotify.com/playlist/#{playlist.id}", style: "text-decoration: none;" do %>
            <div class="card-small" style="width: 164px; height: 120%;">
              <div class="card-small-image" style="width: 164px; height: 164px;"><%= image_tag(playlist.images[0]['url'], alt: playlist.name, class: "card-small-image", style:"width: 164px; height: 164px;") %></div>
              <div class="card-small-text" style="height: 18px;"><p><%= playlist.name %></p></div>
              <div class="card-small-text-small"></div>
            </div>
          <% end %>
        <% end %>
    </div>

    <h2 class="margin-top-20" style="color: #FFB9FC; font-weight: 500; margin-bottom: 10px; margin-left: 10px;"><%= @user.display_name.capitalize %>'s Recently Played Tracks</h2>

    <div class="scrolling-wrapper-flexbox" style="height: 100%; padding-bottom: 10px; overflow-y: hidden;">
        <% @recently_played.each do |track| %>
          <%# We call it with @artist_id[1]%>
          <%= link_to track_path(id: track.uri.match(/spotify:track:(.*)/)[1]), style: "text-decoration: none;" do%>
            <div class="card-small" style="width: 164px; height: 120%;">
              <div class="card-small-image" style="width: 164px; height: 164px;"><%= image_tag(track.album.images[0]['url'], alt: track.name, class: "card-small-image", style:"width: 164px; height: 164px;") %></div>
              <div class="card-small-text" style="height: 18px;"><p><%= track.name %></p></div>
              <div class="card-small-text-small"><p><%= track.album.artists.map { |artist| artist.name }.join(', ') %></p></div>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
