<%#-------- div for matching photos------- %>
<%= render "shared/navbar" %>
<%= render "shared/bar_4btn_filter" %>

  <div class= "show-image">
  <div>
    <img class= "img-circle-small" src="<%= @maria_photo %>" alt="">
  </div>
  
  <div class="comp-icon">
    <%= image_tag "compatibility_icon_pink.png" %>
    <h2>78%</h2>
    
  </div>
  
  <div>
    <img class= "img-circle-small" src="<%= @romeo_photo %>" alt="">
  </div>
  </div>