<div class= "trends">
  <h2 style="color: #FFB9FC; font-weight: 500; margin-bottom: 10px; margin-left: 10px;">Top charts</h2>
  <div class="scrolling-wrapper-flexbox" style="height: 100%; padding-bottom: 10px; overflow-y: hidden;">
      <% @top_fifty_tracks.each do |play| %>
        <%= link_to track_path(id: play.uri.match(/spotify:track:(.*)/)[1]), style: "text-decoration: none;" do %>
          <div class="card-small" style="width: 164px; height: 120%;">
            <div class="card-small-image" style="width: 164px; height: 164px;"><%= image_tag(play.album.images[0]['url'], alt: play.name, class: "card-small-image", style:"width: 164px; height: 164px;")%></div>
            <div class="card-small-text" style="height: 18px;"><p><%= play.name %></p></div>
            <div class="card-small-text-small"><p><%= play.album.artists.map { |artist| artist.name }.join(', ')%></p></div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>

<div class= "trends margin-top-20">
  <h2 style="color: #FFB9FC; font-weight: 500; margin-bottom: 10px; margin-left: 10px;">Your friends are hooked to</h2>
  <div class="scrolling-wrapper-flexbox" style="height: 100%; padding-bottom: 10px; overflow-y: hidden;">
    <% @friends_top_tracks.each do |play| %>
      <%= link_to track_path(id: play[0].uri.match(/spotify:track:(.*)/)[1]), style: "text-decoration: none;" do %>
        <div class="card-small" style="width: 164px; height: 120%;">
          <div class="card-small-image" style="width: 164px; height: 164px;"><%= image_tag(play[0].album.images[0]['url'], alt: play[0].name, class: "card-small-image", style:"width: 164px; height: 164px;")%></div>
          <div class="card-small-text" style="height: 18px;"><p><%= play[0].name %></p></div>
          <div class="card-small-text-small"><p><%= @friend_spotify.display_name %></p></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class= "trends margin-top-20">
  <h2 style="color: #FFB9FC; font-weight: 500; margin-bottom: 10px; margin-left: 10px;">On repeat</h2>
  <div class="scrolling-wrapper-flexbox" style="height: 100%; padding-bottom: 10px; overflow-y: hidden;">
    <% @user_top_tracks.each do |play| %>
      <%= link_to track_path(id: play.uri.match(/spotify:track:(.*)/)[1]), style: "text-decoration: none;" do %>
        <div class="card-small" style="width: 164px; height: 120%;">
          <div class="card-small-image" style="width: 164px; height: 164px;"><%= image_tag(play.album.images[0]['url'], alt: play.name, class: "card-small-image", style:"width: 164px; height: 164px;")%></div>
          <div class="card-small-text" style="height: 18px;"><p><%= play.name %></p></div>
          <div class="card-small-text-small"><p><%= play.album.artists.map { |artist| artist.name }.join(', ')%></p></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
