<%#-------- div for matching photos------- %>
<%= render "shared/navbar" %>
<%= render "shared/bar_4btn_filter" %>

  <div class= "show-image">
  <div class="profile-pic-left">
    <img class= "img-circle-small" src="<%= @maria_photo %>" alt="">
  </div>

  <div class="comp-icon">
    <%= image_tag "compatibility_icon_pink.png" %>
    <h2>78%</h2>

  </div>

  <div class="profile-pic-right">
    <img class= "img-circle-small" src="<%= @romeo_photo %>" alt="">
  </div>
  </div>

  <%#-------- div for matching stats------- %>
  <div class="stats-wrap">

    <div class="stats">
      <div class="stat">
        <h3>176</h3>
        <p>min/day</p>
      </div>

      <div class="stat">
       <h2>Your addiction this week: </h2>
      </div>

      <div class="stat">
        <h3>58</h3>
        <p>min/day</p>
      </div>
    </div>

        <div class="stats">
      <div class="stat">
        <h3>152</h3>
        <p>min/day</p>
      </div>

      <div class="stat">
       <h2>Average listenning this year: </h2>
      </div>

      <div class="stat">
        <h3>208</h3>
        <p>min/day</p>
      </div>
    </div>

</div>
