<%#-------- div for matching photos------- %>
<%= render "shared/navbar" %>
<%= render "shared/bar_4btn_filter" %>

  <div class= "show-image">
  <div class="profile-pic-left">
    <%# <img class= "img-circle-small" src="<%= @maria_photo %>" alt=""> %>
  </div>

  <div class="comp-icon">
    <%= image_tag "compatibility_icon_pink.png" %>
    <h2>?? %</h2>

  </div>

  <div class="profile-pic-right">
    <%# <img class= "img-circle-small" src="<%= @romeo_photo %>" alt=""> %>
  </div>
  </div>

  <%#-------- div for matching stats------- %>
  <div class="stats-wrap">

    <div class="stats">
      <div class="stat">
        <h3>
          <% sum = 0 %>
          <% @played_this_week_gen.each do |play| %>
          <% sum += play.duration_ms.to_i%>
          <% end %>
          <%= sum/60000 %>
        </h3>
        <p>min/day</p>
      </div>

      <div class="stat">
       <h2>Your addiction this week: </h2>
      </div>

      <div class="stat">
        <h3>
          <% sum = 0 %>
          <% @played_this_week_bud.each do |play| %>
          <% sum += play.duration_ms.to_i%>
          <% end %>
          <%= sum/60000 %>
        </h3>
        <p>min/day</p>
      </div>
    </div>

        <div class="stats">
      <div class="stat">
         <h3>
          <% sum = 0 %>
          <% @played_this_year_gen.each do |play| %>
          <% sum += play.duration_ms.to_i%>
          <% end %>
          <%= sum/60000 %>
        </h3>
        <p>min/day</p>
      </div>

      <div class="stat">
       <h2>Average listenning this year: </h2>
      </div>

      <div class="stat">
         <h3>
          <% sum = 0 %>
          <% @played_this_year_bud.each do |play| %>
          <% sum += play.duration_ms.to_i%>
          <% end %>
          <%= sum/60000 %>
        </h3>
        <p>min/day</p>
      </div>
    </div>

</div>
