<div class="divs-column">
  <div class="margin-top-20">
    <div class= "show-image" style="position:relative">
      <%= image_tag @user.image_url, alt: @user_name,  class: "img-circle-medium"  if @user.image_url.present?%>
      <%= image_tag 'https://placekitten.com/200/200', alt: @user_name, class: "img-circle-medium" if  !@user.image_url.present? %>
    </div>
  </div>
  <div class="divs-center margin-top-10">
    <div><a href="https://open.spotify.com/user/<%= @user.spotify_id %>" class="link-spotify-user">@<%= @user.display_name %></a></div>
  </div>
</div>

<br>

<div data-controller="switch-button">
  <%= render "bar_2btn_sorting" %>
  <div data-switch-button-target="info">
    <div style="padding: 0px 10px;">
      <% @follows.each do |follow| %>
        <hr>
        <%= image_tag follow.follower.image_url if follow.follower.image_url.present?%>
        <%= image_tag 'https://placekitten.com/200/200', alt: @user_name, class: "img-circle-medium" if  !follow.follower.image_url.present? %>
        <%= link_to follow.follower.display_name, user_path(follow.follower), style:"text-decoration: none; color: #FFFFFF"; %>
      <% end %>
    </div>
  </div>
  <div data-switch-button-target="stats" style="display: none;">
    <div style="padding: 0px 10px;">
      <% @follows.each do |follow| %>
      <h1>he</h1>
        <hr>
        <%= image_tag follow.follower.image_url if follow.follower.image_url.present?%>
        <%= image_tag 'https://placekitten.com/200/200', alt: @user_name, class: "img-circle-medium" if  !follow.follower.image_url.present? %>
        <%= link_to follow.followed.display_name, user_path(follow.followed), style:"text-decoration: none; color: #FFFFFF"; %>
      <% end %>
    </div>
  </div>
</div>
