<%= render "shared/navbar" %>

<div class="divs-column" style="border-top: 1.5px solid #FDEBFC;">
<%# back button  %>
<div style="padding-top: 20px">
<%= link_to user_path(@user) do %>
  <i class="fas fa-chevron-left back-icon"></i>
<% end %>
</div>

  <div class="margin-top-20">
    <div class= "show-image margin-top-20" style="position:relative">
      <%= image_tag @user.image_url, alt: @user_name,  class: "img-circle-medium"  if @user.image_url.present?%>
      <%= image_tag 'https://placekitten.com/200/200', alt: @user_name, class: "img-circle-medium" if  !@user.image_url.present? %>
    </div>
  </div>
  <div class="divs-center margin-top-20">
    <div><a href="https://open.spotify.com/user/<%= @user.spotify_id %>" class="link-spotify-user">@<%= @user.display_name %></a></div>
  </div>
</div>

<div class="margin-top-20" data-controller="switch-button">
  <%= render "bar_2btn_sorting" %>
  <div data-switch-button-target="info" class="listed-follow">
    <div style="padding: 0px 10px;">
    <%# @user.follower_ids %>
      <% @user.follower_ids.each do |follower| %>
        <%= image_tag User.find(follower).image_url, class:"img-circle-small" if User.find(follower).image_url.present?%>
        <%= image_tag 'https://placekitten.com/200/200', alt: @user_name, class: "img-circle-small" if  !User.find(follower).image_url.present? %>
        <%= link_to User.find(follower).display_name, user_path(follower), class:"medium-text-follow", style:"text-decoration: none; color: #FFFFFF; padding-left: 2%"; %>
      <% end %>
    </div>
  </div>
  <div data-switch-button-target="stats" style="display: none;" class="listed-follow">
    <div style="padding: 0px 10px;">
    <%# @user.follow_ids %>
      <% @user.following_users.each do |following| %>
        <%= image_tag following.image_url, class:"img-circle-small" if following.image_url.present?%>
        <%= image_tag 'https://placekitten.com/200/200', alt: @user_name, class: "img-circle-small" if  !following.image_url.present? %>
        <%= link_to following.display_name, user_path(following), class:"medium-text-follow", style:"text-decoration: none; color: #FFFFFF; padding-left: 2%"; %>
      <% end %>
    </div>
  </div>
</div>
