<!DOCTYPE html>
<html>
  <head>
    <title>Beatween</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="<%= 'background: linear-gradient(to bottom, #FFB9FC, #1D1D1D); height: 100vh;' if current_user.nil? || current_user.spotify_auth.nil? %>">
    <% unless current_user.nil? || current_user.spotify_auth.nil? %>
      <%= render "shared/clock_space" %>
    <% end %>

    <%= yield %>

    <% unless current_user.nil? || current_user.spotify_auth.nil? %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
