<!DOCTYPE html>
<html>
  <head>
    <title>Beatween</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-GLhlTQ8iUNeBUpQEEnnTOHWBfNl5Z+EXDxP5Nq4e9FqFjcHScz4FF+5p1OJ4meSa" crossorigin="anonymous">

    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path 'beatween_logo_32px.png' %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path 'beatween_logo_16px.png' %>">

  </head>

  <body style="<%= 'background: linear-gradient(to bottom, #FFB9FC, #1D1D1D); height: 100vh;' if current_user.nil? || current_user.spotify_auth.nil? %>">
    <% unless current_user.nil? || current_user.spotify_auth.nil? %>
      <%= render "shared/clock_space" %>
    <% end %>

    <%= yield %>

    <% unless current_user.nil? || current_user.spotify_auth.nil? %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
